#sign_up_section{
    // background-color: gray;
    form{
        max-width: 500px;
        margin: 0rem auto;
    }

    #btn_sign_up{
        display: block;
        margin: 0rem 0rem 0rem auto;
        width: fit-content;
    }
}