#nav_section {
  background-color: #495C83;
}
#nav_section * {
  background-color: #495C83;
  text-decoration: none;
  color: white;
  transition: 0.4s;
}
#nav_section #btn_menu_close {
  display: none;
}
#nav_section nav {
  display: flex;
  align-items: center;
}
#nav_section nav ul.links_list {
  position: fixed;
  top: 48px;
  z-index: 4;
  left: -300px;
  height: 100vh;
  padding: 0px;
  min-width: 250px;
}
#nav_section nav ul.links_list li {
  list-style-type: none;
  margin: 0rem;
}
#nav_section nav ul.links_list li .nav_group, #nav_section nav ul.links_list li a {
  display: block;
  padding: 0.5rem;
}
#nav_section nav ul.links_list li a:hover {
  background: #6682b9;
}
