#nav_section {
  background-color: #495C83;
}
#nav_section * {
  color: white;
  text-decoration: none;
}
#nav_section nav {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
#nav_section nav .logo {
  font-weight: bolder;
}
#nav_section nav .links {
  transition: 0.4s;
  background-color: #495C83;
  position: fixed;
  top: 0px;
  left: -300px;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  padding: 1rem 0rem;
}
#nav_section nav .links #btn_menu_close {
  display: block;
  margin: 0rem 0rem 0rem auto;
}
#nav_section nav .links ul {
  padding: 0rem;
}
#nav_section nav .links ul li {
  list-style: none;
}
#nav_section nav .links ul li a {
  padding: 1rem;
  transition: 0.4s;
}
#nav_section nav .links ul li:hover {
  background-color: #6682b9;
}
@media only screen and (min-width: 768px) {
  #nav_section nav {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  #nav_section nav #btn_menu_close, #nav_section nav #btn_menu {
    display: none !important;
  }
  #nav_section nav .links {
    position: initial;
    height: 100%;
    max-width: 100%;
    padding: 0rem;
  }
  #nav_section nav .links ul {
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    justify-items: flex-end;
    align-items: center;
    justify-content: center;
  }
  #nav_section nav .links ul li a {
    height: 100%;
    padding: 0.5rem 1rem;
  }
}
