#btn_sign_in, #btn_sign_up {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

#btn_sign_in {
  display: block;
  margin: 0em 0em 0em auto;
}

section.c1 div.c2 {
  height: 100%;
}

@media only screen and (min-width: 576px) {
  .c1 .c2 {
    height: 100vh !important;
  }
}
