@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


// Custom.scss
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

$primary: #495C83;

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(220, 237, 245) !important;
    padding-top: 3rem !important;
}

input{
    font-family: calibri !important;
}

i{
    transition: 0s !important;
    background-color: inherit !important;
}